/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #a9373d;
  --ifm-color-primary-dark: #983137;
  --ifm-color-primary-darker: #902f34;
  --ifm-color-primary-darkest: #76272b;
  --ifm-color-primary-light: #ba3d43;
  --ifm-color-primary-lighter: #c14147;
  --ifm-color-primary-lightest: #c95a60;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #ff6169;
  --ifm-color-primary-dark: #ff3e48;
  --ifm-color-primary-darker: #ff2c37;
  --ifm-color-primary-darkest: #f6000c;
  --ifm-color-primary-light: #ff848a;
  --ifm-color-primary-lighter: #ff969b;
  --ifm-color-primary-lightest: #ffcbcd;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.button .icon {
  position: relative;
  transform: translateY(0.15em);
}

.div-max-width {
  width: 200px;
}

.video-container {
  position: relative;
  width: 75%;
  padding-bottom: 42.19%;
  overflow: hidden;
  padding-top: 30px;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
